[run]
source = src/updater
branch = True
omit =
    */tests/*
    */__init__.py
    */venv/*
    */gui/*
    */gui/**

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
precision = 2
